body {
    /*background-color: #fefefe;*/
    background-color: #f0f0ef;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    background-color: #aebabc;
    margin-bottom: 20px;
}

h1 {
    /*color: #2c2b61;*/
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: #ffffff;
    font-size: 42px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

/*h2 {
    color: #6c6c6c;
    padding-left: 20px;
    margin-bottom: 10px;
}

p {
    color: #6c6c6c;
    padding-left: 20px;
    margin-top: 0;
}*/

#mapid {
    width: 97%;
    height: 80vh;
    margin: 10px auto 0;
}

#slider {
    width: 96%;
    margin: 0 auto;
    border: 0.5px solid black;
}

#date {
    text-align: center;
    padding-top: 5px;
}