body {
    background-color: #fefefe;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #2c2b61;
    text-align: center;
}

#mapid {
    width: 100%;
    height: 80vh;
    margin-top: 10px;
}

#slider {
    width: 98%;
    margin: 0 auto;
    border: 0.5px solid black;
}

#date {
    text-align: center;
    padding-top: 5px;
}